{% extends "base.html" %}

{% block content %}

<div class="post">
  <h3 class="post-title">{{  post.title  }}</h3>
  <pre class="post-body">
    {{ post.body }}
    <span style="text-align: right;">
      Likes: {{ post.count_likes() }} Comments: {{ post.count_comments() }} Author: {{ post.user.username }}
      Posted: {{ post.created }}
      Last Modified: {{ post.modified }}
    </span>
  </pre>
</div>

<div class = "comment">

  <pre>
    {{ comment.comment }}
    <span style="text-align: right;">
      Likes: {{ comment.count_likes() }} Author: {{ comment.user.username }}
      Posted: {{ comment.created }}
      Last Modified: {{ comment.modified }}
    </span>
  </pre>

  <form method="post">
    <label>Are you sure you want to delete this comment?</label>
    <input type="submit" value="Delete Comment">
  </form>

</div>

{% endblock %}