{% extends "base.html" %}

{% block content %}

<div class="post">
  <h3 class="post-title">{{  post.title  }}</h3>
  <pre class="post-body">
    {{ post.body }}
    <span style="text-align: right;">
      Likes: {{ post.count_likes() }} Comments: {{ post.count_comments() }} Author: {{ post.user.username }}
      Posted: {{ post.created }}
      Last Modified: {{ post.modified }}
    </span>
  </pre>
  {% if user and user.key().id() == post.user.key().id() %}
    <a href="/{{ post.key().id() }}/edit">Edit</a>
  {% else %}
    {% if post.user_liked(user) %}
      <a href="/{{ post.key().id() }}/unlike">Unlike</a>
    {% else %}
      <a href="/{{ post.key().id() }}/like">Like</a>
    {% endif %}
  {% endif %}
</div>
<form method="post">
  <input type="text" name="comment">
  <input type="submit" value="Post Comment">
  <p style="display: inline; color: red;">{{ error_comment }}</p>
</form>
<div class="comments">
  {% for c in comments %}
    <div class = "comment">
      <pre>
        {{ c.comment }}
        <span style="text-align: right;">
          Likes: {{ c.count_likes() }} Author: {{ c.user.username }}
          Posted: {{ c.created }}
          Last Modified: {{ c.modified }}
        </span>
      </pre>
      
      {% if user.key().id() == c.user.key().id() %}
        <a href = "/{{ post.key().id() }}/{{ c.key().id() }}/edit">Edit</a>
      {% else %}
        {% if c.user_liked(user) %}
          <a href = "/{{ post.key().id() }}/{{ c.key().id() }}/unlike">Unlike</a>
        {% else %}
          <a href = "/{{ post.key().id() }}/{{ c.key().id() }}/like">Like</a>
        {% endif %}
      {% endif %}
    </div>
  {% endfor %}
</div>

{% endblock %}

