{% extends "base.html" %}

{% block content %}

<form method="post">

  <h3>Sign Up!</h3>

  <label> Username
    <input type="text" value="{{ old_user }}" name="username">
  </label>
  <p style="display: inline; color: red;">{{ error_username }}</p>
  <br>
  <label> Password
    <input type="password" name="password">
  </label>
  <p style="display: inline; color: red;">{{ error_password }}</p>
  <br>
  <label> Verify Password
    <input type="password" name="verify">
  </label>
  <p style="display: inline; color: red;">{{ error_verify }}</p>
  <br>
  <label> Email (optional)
    <input type="text" value="{{ old_email }}" name="email">
  </label>
  <p style="display: inline; color: red;">{{ error_email }}</p>
  <br>
  <input type="submit">

</form>

{% endblock %}