a.clean-link {
  display: block;
  color: inherit;
  text-decoration: inherit;
  cursor: auto;
}

.blogpost {

}

.blogpost-footer {
  text-align: right;
}

.blogpost-footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}