<!doctype html>

<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="Jeff Waltz, Jr.">

  <link href="{{ static('/blog/css/bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ static('/blog/css/blog.css') }}" rel="stylesheet">

  <title>
    {% block titleblock %}
    {% endblock %}
  </title>

</head>

<body>

  <div class="container">

    {% include 'nav.html' %}

    {% block content %}
    {% endblock %}

  </div>

</body>

</html>