{% extends 'base.html' %}

{% block titleblock %}
  {{  post.title|title }} - Blog - Web Portfolio
{% endblock %}

{% block content %}

{% include 'blog/blogpost.html' %}

{#
<form method="post">
  <input type="text" name="comment">
  <input type="submit" value="Post Comment">
  <p style="display: inline; color: red;">{{ error_comment }}</p>
</form>
<div class="comments">
  {% for c in comments %}
    <div class = "comment">
      <pre>
        {{ c.comment }}
        <span style="text-align: right;">
          Likes: {{ c.count_likes() }} Author: {{ c.user.username }}
          Posted: {{ c.created }}
          Last Modified: {{ c.modified }}
        </span>
      </pre>

      {% if user.key().id() == c.user.key().id() %}
        <a href = "/{{ post.key().id() }}/{{ c.key().id() }}/edit">Edit</a>
      {% else %}
        {% if c.user_liked(user) %}
          <a href = "/{{ post.key().id() }}/{{ c.key().id() }}/unlike">Unlike</a>
        {% else %}
          <a href = "/{{ post.key().id() }}/{{ c.key().id() }}/like">Like</a>
        {% endif %}
      {% endif %}
    </div>
  {% endfor %}
</div>
#}

{% endblock %}
