<article class="blogpost jumbotron">

  <section>
    <h3>{{  post.title  }}</h3>
    {{ post.body }}
  </section>

{# flexbox the two below #}

  <div>
    {#
      # Turn these into buttons #
      Likes: {{ post.count_likes() }}
      Comments: {{ post.count_comments() }}
    #}
    {% if request.user.is_authenticated() and request.user == post.user %}
      <a class="btn btn-default" href="{{
        url('post_edit', kwargs={'pk': post.pk})
      }}">Edit</a>
      {% if post.published %}
        <a class="btn btn-disabled" href="#">Published {{ post.publish_time }}</a>
      {% else %}
        <a class="btn btn-default" href="{{
          url('post_publish', kwargs={'pk': post.pk})
        }}">Publish</a>
      {% endif %}
    {% else %}
      {% if post.user_liked(request.user) %}
        <a class="btn btn-default" href="{{
          url('post_unlike', kwargs={'pk': post.pk})
        }}">Unlike</a>
      {% else %}
        <a class="btn btn-default" href="{{
          url('post_like', kwargs={'pk': post.pk})
        }}">Like</a>
      {% endif %}
    {% endif %}
  </div>

  <footer class="blogpost-footer">
    <ul>
      <li>Author: {{ post.user.username }}</li>
      <li>Posted: {{ post.created|format_datetime }}</li>
      <li>Last Modified: {{ post.modified|format_datetime }}</li>
    </ul>
  </footer>

</article>
