{% extends "base.html" %}

{% block content %}

{% for post in posts %}
  <a style="display: block; color: inherit; text-decoration: none;" href="{{ url('post_view', kwargs={'pk': post.pk}) }}" class="post">
    <div class="post">
      <h3 class="post-title">{{  post.title  }}</h3>
      <pre class="post-body">
        {{ post.body }}
        <span style="text-align: right;">
		        Likes: {{ post.count_likes() }} Comments: {{ post.count_comments() }} Author: {{ post.user.username }}
		        Posted: {{ post.created }}
		        Last Modified: {{ post.modified }}
        </span>
      </pre>
      {% if request.user.is_authenticated() and request.user == post.user %}
        <a href="{{ url('post_edit', kwargs={'pk': post.pk}) }}">Edit</a>
      {% else %}
        {% if post.user_liked(request.user) %}
          <a href="{{ url('post_unlike', kwargs={'pk': post.pk}) }}">Unlike</a>
        {% else %}
          <a href="{{ url('post_like', kwargs={'pk': post.pk}) }}">Like</a>
        {% endif %}
      {% endif %}
    </div>
  </a>
{% endfor %}

{% endblock %}